@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
  --color-card: #18181b;
  --color-card-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;

  --font-sans: Inter, sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground antialiased min-h-screen flex flex-col;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}